---
import { juegos } from "@/data/juegos";
---

<header>
  <div class="max-w-xl mx-auto text-center py-12">
    <h1 class="text-base-800 font-medium md:text-4xl text-3xl">
      Ludoteca de Sergio
    </h1>
    <p class="mt-2 text-base-500 text-balance text-sm">
      Cantidad de juegos: {juegos.length}
    </p>
  </div>
</header>
