---
import { juegos } from "@/data/juegos";
---

<section>
  <div
    class="grid grid-cols-1 gap-6 lg:gap-y-12 md:grid-cols-2 lg:grid-cols-3 py-12"
  >
    {
      juegos.map((juego) => (
        <figure class="relative ">
          <a href={juego.enlace ?? "#"} target="_blank" rel="noopener noreferrer">
            <img
              width="800"
              height="800"
              alt={juego.nombre}
              src={juego.fotos[0]}
              class="w-full rounded-3xl shadow aspect-12/9 object-cover object-center"
            />
          </a>
          <div class="mt-2 flex justify-between px-6">
            <div>
              <h3 class="font-medium text-base text-base-900">
                {juego.nombre.charAt(0).toUpperCase() + juego.nombre.slice(1).toLowerCase()}
              </h3>
              <p class="mt-1 text-xs font-medium text-base-500 flex space-x-10">
                <span>Duración: {juego.tiempo}</span>
              </p>
            </div>
            <p class="text-base text-gray-500" title="jugadores">
              <span class="inline-block align-middle mr-1" aria-label="jugadores">
                <svg xmlns="http://www.w3.org/2000/svg" class="inline h-4 w-4 text-gray-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 14c2.21 0 4 1.79 4 4v2H4v-2c0-2.21 1.79-4 4-4m8-6a4 4 0 11-8 0 4 4 0 018 0z" />
                </svg>
              </span>
              {juego.jugadores}
            </p>
          </div>
        </figure>
      ))
    }
  </div>
</section>
